*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-light-red-CTA-text: hsl(356, 100%, 66%);
  --primary-very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --primary-very-dark-blue-headings: hsl(208, 49%, 24%);

  --neutral-white-text: hsl(0, 0%, 100%);
  --neutral-grayish-blue-footer-text: hsl(240, 2%, 79%);
  --neutral-very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --neutral-very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* Background gradient - Intro/CTA mobile nav: */
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);

  /* Background gradient - body */
  --gradient-very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

/* Base Styling */
body {
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Utility Classes */
.btn {
  background: #fff;
  color: var(--primary-light-red-CTA-text);
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

/* Navbar */
.header {
  background-image: linear-gradient(
      var(--gradient-very-light-red),
      var(--gradient-light-red)
    )
    url("./images/bg-pattern-intro-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar__logo img {
  width: 1rem;
  height: 1rem;
}

/* - Mobile: 375px
- Desktop: 1440px */
